.row-header{
    margin:0px auto;
    padding:0px;
}

.row-content {
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height:400px;
}

.footer{
    background-color: #D1C4E9;
    margin:0px auto;
    padding: 20px 0px 20px 0px;
}

.jumbotron {
    padding:70px 30px 70px 30px;
    margin:0px auto;
    background: #9575CD ;
    color:floralwhite;
}

address{
    font-size:80%;
    margin:0px;
    color:#0f0f0f;
}

body {
	padding: 50px 0px 0px 0px;
	z-index: 0; /*defines stacking order of the html element. higher index gets stacked on the top of lower index element. */
}

/* default navbar-dark class is overloaded to change the background color to a shade of purple */
.navbar-dark {
	background-color: #512DA8;
}

.reserveTableHeader {
	background-color: #FFD700;
}